@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <SignedInDisplay/>
    </Authorized>
    <NotAuthorized>
        <LoginLayout/>
    </NotAuthorized>
</AuthorizeView>

<div class="container-fluid">
    <br /><br />
    @Body
</div>
