@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <SignedInDisplay/>
    </Authorized>
    <NotAuthorized>
        <LoginLayout/>
    </NotAuthorized>
</AuthorizeView>

<div class="page">
    <main>
        @Body
    </main>
    
</div>
