@page "/search"
@page "/search/{searchText}"

<input type="text" class="form-label" @bind="SearchText" /> 
<button type="button" class="btn btn-primary" @onclick="SearchClick">Search</button>

@foreach (var plant in plants)
{
    <div>
        <p>
            <a href="plant-details/@plant.id">@plant.common_name</a>
        </p>
        @if (plant.isFavorite == false){
            <p>
                <button type="button" class="btn btn-primary" @onclick="() => AddFavorite(plant.id.ToString())">Add to favorites</button> 
            </p>
        }
        else
        {
             <p>
                <button type="button" class="btn btn-primary" @onclick="() => RemovePlant(plant.id.ToString())">Remove from favorites</button>
            </p>
        }

    </div>
}

@if (plants.Count <= 0)
{
    <p>No results found for @SearchText</p>

}


