@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation


<div class="container">
    <NavMenu>

    </NavMenu>
    @Body
</div>


 


@inject IJSRuntime JS

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            
            await JS.InvokeAsync<IJSObjectReference>("import", "./assets/vendor/bootstrap/js/bootstrap.bundle.min.js");

            await JS.InvokeAsync<IJSObjectReference>("import", "./assets/js/main.js");
            
        }
        
       

        
    }

}
