@page "/ai"

<div class="mt-header">
    <section id="team" class="team section-bg">
      <div class="container">   
        <div class="section-title">
          <h2>AI Assistant</h2>
          <p>Let BioBloom Buddy Help You With All Your Plant Needs</p>
        </div>

        <div class="row">
            <div class="col-12 p-0 m-0">
                @if (_isSendingMessage)
                {
                    <div class="text-center">
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }
                <div class="input-group">
                    <button class="btn btn-primary">
                        <span class="bi bi-eraser fs-4"></span>
                    </button>
                    <textarea rows="2" class="form-control" placeholder="Ask your question..."
                        @bind-value="_userQuestion" @bind-value:event="oninput" @onkeypress="HandleKeyPress"
                        disabled="@_isSendingMessage">        
                    </textarea>
                </div>
            </div>
        </div>
        
            
        @foreach(var message in Messages)
        {
            <div class="row mt-4">
                
                <div class="col-12 rounded p-3 shadow-sm @(message.IsUser ? "bg-primary text-light":"bg-light")">
                       
                    @if (message.IsUser)
                    {
                        <i class="bx bx-user-circle me-3  fs-4"></i> 
                        <span class="fs-5">@message.content</span>
                    }else{
                        <i class="bx bx-bot me-3 fs-4"></i> 
                        <span class="fs-5">@((MarkupString)message.content)</span>
                        
                    }
                </div>
            </div>
        }
                           
        

    </div>
</section>
    
</div>




