@inject NavigationManager Navigation
@page "/enroll"

<div class="container">
    <div class="mt-header">
        <div class="section-title">
              <h2>Premium Membership</h2>
              <p>Click the button below to become a premium member!</p>
                <p>Premium members gain access to our AI assistant and discounts within the store. Join today!</p>
                <br />
                <button type="button" class="btn btn-info" @onclick="() => becomePremiumMember(UserName)">Enroll!</button>
            </div>
        
    </div>
</div>
