@layout MainLayout
@page "/"


<div class="text-center">
    <h3 style="font-family:Roboto,Helvetica,Arial,sans-serif; font-weight:300">
        <br />
        <br />
        <br />
        BioBloom Buddy is an app that
        <br />
        makes growing and caring
        <br />
        for plants easier.
    </h3>
    <input type="text" class="form-label" @bind="searchText" /> 
    <button type="button" class="btn btn-primary" @onclick="SearchClick">Search</button>
</div>


