@page "/products"
<h3>Products</h3>

@foreach (var product in products)
{
    <div>
        <p>@product.name</p>
        <p>@product.brand</p>
        <a href="@product.link" target="_blank">$@product.price</a>
        <img src="@product.imageURL" height = "200" width = "200"> 
        
 
    </div>
}
 