@page "/reply/{Id:int}/{Title}"
@inject NavigationManager Navigation

<div class="mt-header">
    <h3>Reply to Post</h3>

<form class="AddPost">
    <div class="form-group">
        <p>@Title</p>
    </div>
    <div class="form-group">
        <label>Reply</label>
        <textarea class="form-control" @bind="Content"></textarea>
        <input type="hidden" @bind="Time" />
    </div>
    <br />
    <button type="button" class="btn btn-primary" @onclick="() => AddReply()">Submit Reply</button>
</form>
</div>


@code{

}